// ------------------------------------
// Button Base Styles
// ------------------------------------

@mixin button-base ($width: $width-x) {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 12px 28px;
  background-color: black;
  color: white;
  border: none;
  width: $width;

  &:hover {
    background-color: $color-primary;
    cursor: pointer;
  }
}
