@import 'variables',
        'mixins',
        'typography';

footer {
    background-color: $color-text;
    color: $color-bg;
    text-align: center;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    
    h3{
        margin: 0;
        @include heading-1 ($font-size-m, $font-weight: 700, $color: $color-bg);
    }

    ul{
        list-style: none;
        display: flex;
        gap: 40px;
        padding: 0;
        justify-content: center;
        margin: 0;
    }

    .menufooter a{
        color: $color-bg;
        @include paragraph-style ($font-size: $font-size-s, $color: $color-bg);
        text-decoration: none;
        display: flex;
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;
    }

    .copyright {
        width: 180px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;
    }

    a{
        text-decoration: none;
    }

    a p{
        text-decoration: none;
        color: $color-muted;
    }

    p {
        @include paragraph-style ($font-size: $font-size-xs, $color: $color-bg, $margin: 0);
    }

    .legalrights {
        width: 180px;
    }
}