@import 'variables',
        'mixins',
        'typography',
        'mediaqueries';	

footer {
    background-color: $color-text;
    color: $color-bg;
    text-align: center;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    
    h3{
        margin: 0;
        @include heading-1 ($font-size-m, $font-weight: 700, $color: $color-bg);

        @media #{$medium} {
            font-size: $font-size-lg;
        }
    }

    ul{
        list-style: none;
        display: flex;
        gap: 40px;
        padding: 0;
        justify-content: center;
        margin: 0;
    }

    .menufooter a{
        color: $color-bg;
        @include paragraph-style ($font-size: $font-size-s, $color: $color-bg);
        text-decoration: none;
        display: flex;
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;
    }

    .footerlegal {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        @media #{$medium} {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
    }

    .copyright {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;

        @media #{$medium} {
            width: 50%;
            flex-direction: row;
            justify-content: end;
            gap: 24px;
            margin: 0px;
            padding-right: 40px;
        }

        @media #{$large} {
            justify-content: end;
        }
    }

    a{
        text-decoration: none;
    }

    a p{
        text-decoration: none;
        color: $color-muted;

        @media #{$medium} {
            font-size: $font-size-base;
        }
    }

    p {
        @include paragraph-style ($font-size: $font-size-xs, $color: $color-bg, $margin: 0);

        @media #{$medium} {
            font-size: $font-size-base;
        }
    }

    .legalrights {
        width: 180px;

        @media #{$medium} {
            width: 100%;
            text-align: left;
            padding-left: 40px;;
        }
    }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}