//-----------------------------
//Home Page Styles
//-----------------------------

.hero-image{
    width: 100%;
    min-height: 100vh;
    background-image: url('/src/assets/images/wine-grapes.jpg');
    background-size: 250%;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-bg;
    justify-content: center;

    @media #{$large} {
        background-size: cover;
        min-height: 100vh;
    }

    h1 {
        @include heading-1 ($font-size: $font-size-xxxl, $font-weight: 700, $color: $color-bg);
        margin: 0;

        @media #{$large} {
            font-size: 6rem;
        }
    }

    h3 {
        @include heading-5 ($font-size: $font-size-xxl, $font-weight: 500, $color: $color-bg);
    }

    div:nth-child(1) {
        align-self: center;
    }

    div:nth-child(2) {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        color: $color-bg;
        text-decoration: none;
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            color: $color-bg;
            @include paragraph-style ($font-size: $font-size-xs, $color: $color-bg);
        }
    }

}

.quote {
    padding: 80px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 16px;

    @media #{$medium} {
        padding: 120px 80px;
    }

    p:first-child {
        @include paragraph-quote ($font-size: $font-size-l, $color: $color-text);

        @media #{$medium} {
            max-width: 400px;
            align-self: center;
        }
    }

    p:last-child {
        @include paragraph-style ($font-size: $font-size-s, $color: $color-muted);

            @media #{$medium} {
            max-width: 400px;
            align-self: center;
        }
    }
}

.oftheweek{
    text-align: center;
    padding: 0px 0px;

    .wine-list {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 30px;

        .wine-item:nth-child(3),
        .wine-item:nth-child(4) {
        display: none;
        }

        @media #{$medium} {
        padding: 80px 120px;
        grid-template-columns: repeat(3, 1fr);

            .wine-item:nth-child(3) {
                display: flex;
            }
            .wine-item:nth-child(4) {
            display: none;
            }
        }

        @media #{$large} {
            grid-template-columns: repeat(4, 1fr);

            .wine-item:nth-child(4) {
            display: flex;
            }
        }
            

        .wine-item {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            padding: 0 10px;

            span {
                display: flex;
                height: 1px;
                background-color: #8a8180;
            }

            img{
                height: 200px;
                object-fit: contain;
            }
        }
    }

    .img-quinta {
        overflow: hidden;

        img {
            width: 100%;
            height: 505px;
            object-fit: cover;
            transform: scale(1.2);
        }
    }
}

.explore {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    @media #{$large} {
        padding: 80px 80px;

            .explore-item {
                gap: 80px;
            }
    }

    div {
        font-family: Inter, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;

        @media #{$large} {
            flex-direction: row-reverse;

            .explore-text {
                flex-direction: column;
                text-align: left;
                justify-content: center;
                width: 50%;
                
            }


        }

        img{
            width: 100%;
            height: 280px;
            object-fit: cover;

            @media #{$large} {
                height: 400px;
            }
        }

        p{
            padding-top: 10px;
            margin: 0px 0;
        }

        button {
            margin-top: 20px;
            font-family: Inter, sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            padding: 12px 28px;
            background-color: black;
            color: white;
            border: none;
            width: fit-content;

            &:hover {
                background-color: $color-primary;
                cursor: pointer;
            }
        }
    }
}

.wine-shop{

    h2 {
        @include heading-1 ($font-size: $font-size-xxl, $font-weight: 700, $color: $color-text);

        @media #{$large} {
            font-size: $font-size-xxxl;
            font-weight: 400;
        }
    }

    @media #{$large} {
        p {
            max-width: 500px;
        }
    }

    img{
        width: 100%;
        height: 325px;
        object-fit: cover;
    }

    div {
        text-align: center;
        padding: 56px 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;

        button{
            width: fit-content;
            margin-top: 8px;
            font-family: $font-sans, sans-serif;
            font-size: $font-size-base;
            font-weight: 400;
            padding: 12px 28px;
            background-color: black;
            color: white;
            border: none;

            &:hover {
                background-color: $color-primary;
                cursor: pointer;
            }
        }
    }
}

