@import
    "partials/header",
    "partials/footer",
    "partials/components",
    "partials/mixins",
    "partials/typography",
    "partials/variables",
    "partials/base",
    "partials/mediaqueries";

//-----------------------------
//Home Page Styles
//-----------------------------

main{
    .hero-image{
        width: 100%;
        min-height: calc(100vh - 75px);
        background-image: url('/src/assets/images/wine-grapes.jpg');
        background-size: 250%;
        background-position: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $color-bg;
        justify-content: center;

        @media #{$large} {
            background-size: cover;
            min-height: 100vh;
        }

        h1 {
            @include heading-1 ($font-size: $font-size-xxxl, $font-weight: 700, $color: $color-bg);
            margin: 0;

            @media #{$large} {
                font-size: 6rem;
            }
        }

        h3 {
            @include heading-5 ($font-size: $font-size-xxl, $font-weight: 500, $color: $color-bg);
        }

        div:nth-child(1) {
            align-self: center;
        }

        div:nth-child(2) {
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
            color: $color-bg;
            text-decoration: none;
            gap: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                color: $color-bg;
                @include paragraph-style ($font-size: $font-size-xs, $color: $color-bg);
            }
        }

    }

   .quote {
        padding: 80px 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 16px;

        @media #{$medium} {
            padding: 120px 80px;
        }

        p:first-child {
            @include paragraph-quote ($font-size: $font-size-lg, $color: $color-text);

            @media #{$medium} {
                font-size: $font-size-l;
                max-width: 400px;
                align-self: center;
            }
        }

        p:last-child {
            @include paragraph-style ($font-size: $font-size-m, $color: $color-muted);

             @media #{$medium} {
                font-size: $font-size-s;
                max-width: 400px;
                align-self: center;
            }
        }
    }

    .oftheweek{
        text-align: center;
        padding: 0px 0px;

        .wine-list {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            padding: 50px 30px;

            .wine-item:nth-child(3),
            .wine-item:nth-child(4) {
            display: none;
            }

            @media #{$medium} {
            padding: 80px 120px;
            grid-template-columns: repeat(3, 1fr);

                .wine-item:nth-child(3) {
                    display: flex;
                }
                .wine-item:nth-child(4) {
                display: none;
                }
            }

            @media #{$large} {
                grid-template-columns: repeat(4, 1fr);

                .wine-item:nth-child(4) {
                display: flex;
                }
            }
                

            .wine-item {
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 100%;
                padding: 0 10px;

                span {
                    display: flex;
                    height: 1px;
                    background-color: #8a8180;
                }

                img{
                    height: 200px;
                    object-fit: contain;
                }
            }
        }

        .img-quinta {
            overflow: hidden;

            img {
                width: 100%;
                height: 505px;
                object-fit: cover;
                transform: scale(1.2);
            }
        }
    }

    .explore {
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;

        @media #{$large} {
            padding: 80px 80px;

             .explore-item {
                    gap: 80px;
                }
        }

        div {
            font-family: Inter, sans-serif;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 20px;

            @media #{$large} {
                flex-direction: row-reverse;

                .explore-text {
                    flex-direction: column;
                    text-align: left;
                    justify-content: center;
                    width: 50%;
                   
                }


            }

            img{
                width: 100%;
                height: 280px;
                object-fit: cover;

                @media #{$large} {
                    height: 400px;
                }
            }

            p{
                padding-top: 10px;
                margin: 0px 0;
            }

            button {
                margin-top: 20px;
                font-family: Inter, sans-serif;
                font-size: 0.875rem;
                font-weight: 400;
                padding: 12px 28px;
                background-color: black;
                color: white;
                border: none;
                width: fit-content;

                &:hover {
                    background-color: $color-primary;
                    cursor: pointer;
                }
            }
        }
    }

    .wine-shop{

        h2 {
            @include heading-1 ($font-size: $font-size-xxl, $font-weight: 700, $color: $color-text);

            @media #{$large} {
                font-size: $font-size-xxxl;
                font-weight: 400;
            }
        }

        @media #{$large} {
            p {
                max-width: 500px;
            }
        }

        img{
            width: 100%;
            height: 325px;
            object-fit: cover;
        }

        div {
            text-align: center;
            padding: 56px 40px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;

            button{
                width: fit-content;
                margin-top: 8px;
                font-family: $font-sans, sans-serif;
                font-size: $font-size-base;
                font-weight: 400;
                padding: 12px 28px;
                background-color: black;
                color: white;
                border: none;

                &:hover {
                    background-color: $color-primary;
                    cursor: pointer;
                }
            }
        }
}
}


//-----------------------------
//Store Page Styles
//-----------------------------

.store-hero {
    width: 100%;
    height: 100%;
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: $color-bg-secondary;

    @media #{$medium} {
        padding: 20px 0px 20px 40px;
        flex-direction: row-reverse;
        align-items: center;
        width: auto;
    }

    .hero-title {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: start;
        text-align: center;
        margin: 0px;

        @media #{$medium} {
            align-items: flex-start;
            text-align: left;
            width: 50%;
        }
    }

    h1 {
        @include heading-1 ($font-size: $font-size-xxl, $font-weight: 700, $color: $color-text);
    }

    h4 {
        @include heading-4 ($font-size: $font-size-s, $font-weight: 400, $color: $color-muted);
    }

    div:first-child{
        align-self: flex-end;
        width: 100%;
        height: 400px;
        background-image: url('/src/assets/images/galery-wines.png');
        background-size: cover;

        @media #{$medium} {
            overflow-x: visible;
        }
    }

    div:last-child {
        display: flex;
        gap: 5px;

        @media #{$medium} {
            align-items: right;
        }

        h4:first-child {
            color: $color-muted;
        }

        h4:last-child {
            color: $color-text;
        }
    }  
}

.store-filters {
    display: flex;
    justify-content: space-between;
    padding: 42px 20px 33px 20px;

    .sort-by {
        display: flex;
        align-items: center;
        gap: 10px;

        h4 {
            color: $color-text;
        }

        div {
            position: relative;
            display: inline-block;

            span {
                @include heading-4 ($font-size: $font-size-s, $font-weight: 400, $color: $color-muted);
            }

            button {
            background-color: white;
            color: $color-muted;
            border: 0px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            gap: 8px;

            &:hover {
                color: $color-text;
            }
            }

            ul {
                display: none;
                position: absolute;
                top: 100%; 
                left: -20px;
                background-color: white;
                min-width: 160px;
                border: none;
                padding: 5px 10px;
                margin: 0;

                z-index: 1000;

            li {
                list-style: none;

                a {
                display: block;
                padding: 12px 16px;
                color: black;
                text-decoration: none;
                text-align: left;

                &:hover {
                    color: $color-muted;
                }
                }
            }
            }

            &:hover ul {
            display: block;
            }
        }
    }

    .filters {

        button{
            display: flex;
            gap: 8px;
            border: 0.2px solid $color-text;
            background-color: $color-bg;
            padding: 4px 16px;
            align-items: center;

            h4{
            color: $color-text; 
            }

            &:hover {
                background-color: $color-text;
                cursor: pointer;

                path {
                    fill: $color-bg;
                }

                h4 {
                    color: $color-bg;
                }
            }
        }
    }

}

.store-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0px 10px 80px 10px;
  height: auto;
  box-sizing: border-box;

  @media #{$medium} {
    grid-template-columns: 1fr 1fr 1fr;
  }

    .wine-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;

        .wine-item {
            display: grid;
            grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
            align-items: center;
            background-color: $color-bg-secondary;
            padding: 20px;
            height: fit-content;

            img {
                grid-column: 2;
                justify-self: center;
                max-width: 90%;
                height: auto;
                max-height: 270px;
                display: block;
            }

            > div:last-child {
                grid-column: 3;
                display: flex;
                align-items: center;
                align-self: start;
                justify-self: end;
                gap: 5px;
                width: fit-content;

                p {
                    white-space: nowrap;
                }

                div {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: currentColor; // usa a cor herdada
                }
            }
        }

        .wine-text {
            gap: 5px;
            display: flex;
            flex-direction: column;
            text-align: left;

            h4 {
                @include paragraph-style ($font-size: $font-size-s, $color: $color-text);
            }

            h4:first-child {
                color: $color-text;
            }

            h4:last-child {
                color: $color-muted;
            }
        }

        // Modificadores de cor
        &--port {
            color: $color-port;
        }

        &--red {
            color: $color-red;
        }

        &--white {
            color: $color-white;
        }

        &--rose {
            color: $color-rose;
        }
        
        &--sparkling {
            color: $color-sparkling;
        }
    }
}

//-----------------------------
//Contact Page Styles
//-----------------------------

.contact-hero {
    width: 100%;
    min-height: calc(440px - 75px);
    background-image: url('/src/assets/images/contact-quinta-img.png');
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;

    h1 {
        @include heading-1 ($font-size: $font-size-xxl, $font-weight: 700, $color: $color-bg);
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 40px;
        left: 20px;

        @media #{$medium} {
            font-size: $font-size-xxl;
            left: 40px;
        }

        @media #{$large} {
            font-size: $font-size-xxxl;
            left: 80px;
        }
    }  
}

@media #{$large} {

    .contact-section {
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 80px;
        align-items: center;

        .contact-section-img {
        width: 50%;
        height: 500px;
        background-image: url('/src/assets/images/winecellar.png');
        background-size: cover;
        background-position: center;
        }

        .contact-header {
            width: 70%;
            height: auto;
        }
    }
}

.contact-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 32px;

    @media #{$medium} {
            padding: 40px 40px;
        }

    @media #{$large} {
            padding: 80px 80px 40px 80px;
        }

    .contact-header-title {
        display: flex;
        flex-direction: column;
        gap: 0px;
        
        h2 {
            @include heading-1 ($font-size: $font-size-lg, $font-weight: 700, $color: $color-text);
            margin: 0;
        }
    }

    p {
        margin: 0;
        max-width: 600px;

        @media #{$large} {
            font-size: $font-size-s;
        }
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 80px 20px;

     @media #{$medium} {
            padding: 0px 40px 80px 40px;
        }

    @media #{$large} {
            padding: 0px 80px 80px 80px;
        }

    .contact-info-item {
        display: flex;
        align-items: center;
        gap: 16px;

        p {
            margin: 0;

            @media #{$medium} {
                font-size: $font-size-s;
            }
        }

        .contact-info .contact-info-item:nth-child(3) {
            flex-direction: column;
            align-items: flex-start;
        }

        .address-text {
            gap: 2px;
            display: flex;
            flex-direction: column;
        }

        .address-text :nth-child(2) {
            color: $color-muted;
            width: 150px;
        }
    }
}

.contact-form-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 64px 20px;
        background-color: $color-bg-secondary;

        @media #{$medium} {
            padding: 80px 80px;
        }

        @media #{$large} {
            padding: 80px 300px;
        }

        .contact-form-header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
            @include heading-1 ($font-size: $font-size-lg, $font-weight: 700, $color: $color-text);

        }

        p {
            color: $color-muted;

            @media #{$medium} {
                font-size: $font-size-s;
            }
        }

    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        form {
            display: flex;
            flex-direction: column;

            @media #{$medium} {
                gap: 8px;
            }

            input, textarea {
                padding: 12px;
                border: none;
                border-radius: 8px;
                background-color: $color-border;
                @include paragraph-style ($font-size: $font-size-xs, $color: $color-hover);

                &:focus {
                    border-color: $color-primary;
                    outline: none;
                }

                @media #{$medium} {
                    font-size: $font-size-s;
                    padding: 16px;
                }
            }

            input, textarea {
                margin-bottom: 15px;
            }

            label {
                @include paragraph-style ($font-size: $font-size-base, $color: $color-text);
            }

            button {
                background-color: $color-text;
                text-transform: uppercase;
                padding: 12px 24px;
                border: none;
                cursor: pointer;
                @include paragraph-style ($font-size: $font-size-base, $color: $color-bg);

                @media #{$medium} {
                    padding: 16px 24px;
                }

                &:hover {
                    background-color: $color-primary;
                }
            }
        }
    }
}


