@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
header {
  height: 75px;
  width: 100%;
  background-color: white;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dddddd;
  position: fixed;
  z-index: 2000;
}
@media (min-width: 1024px) {
  header {
    padding: 0px 80px;
  }
  header .logo-and-nav-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}
header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
header h3.logo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header h3.logo a {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0;
  color: black;
  text-decoration: none;
}
@media (min-width: 1024px) {
  header h3.logo a {
    font-size: 1.5rem;
  }
}
header .off-screen-menu {
  background-color: white;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  position: fixed;
  top: 0;
  right: -450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px 40px;
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
  z-index: 1;
}
header .off-screen-menu ul {
  padding: 0;
}
header .off-screen-menu li {
  list-style-type: none;
  margin: 1rem 0;
}
header .off-screen-menu a {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: black;
  text-decoration: none;
}
header .off-screen-menu a:hover {
  color: #a5a5a5;
}
header .off-screen-menu span {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  margin-top: 0px;
  margin-bottom: 32px;
}
header .off-screen-menu .close-menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 20px;
  gap: 8px;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
header .off-screen-menu .close-menu-links p {
  font-size: 1.25rem;
}
header .off-screen-menu .close-menu-links p:hover {
  color: #a5a5a5;
}
header .off-screen-menu.active {
  right: 0;
}
header .ham-menu {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 101;
}
@media (min-width: 1024px) {
  header .ham-menu {
    display: none;
  }
}
header .ham-menu span {
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
header .ham-menu span:nth-child(1) {
  top: 2%;
}
header .ham-menu span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header .ham-menu span:nth-child(3) {
  top: 98%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
header .ham-menu.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
header .ham-menu.active span:nth-child(2) {
  opacity: 0;
}
header .ham-menu.active span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
header .main-nav {
  display: none;
}
@media (min-width: 1024px) {
  header .main-nav {
    display: block;
  }
  header .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  header .main-nav ul li {
    margin-right: 30px;
  }
  header .main-nav ul li:last-child {
    margin-right: 0;
  }
  header .main-nav ul li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    color: black;
    font-weight: 500;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  header .main-nav ul li a:hover {
    color: #a5a5a5;
  }
}
header .header-icons {
  display: none;
}
@media (min-width: 1024px) {
  header .header-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  header .header-icons .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: black;
  }
  header .header-icons .icon-button svg {
    width: 20px;
    height: 20px;
    stroke: currentColor;
  }
  header .header-icons .icon-button .count {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin-left: 5px;
    color: black;
  }
  header .header-icons .icon-button:hover {
    color: #a5a5a5;
  }
  header .header-icons .language-selector {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-icons .language-selector select {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: black;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding-right: 20px;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
  }
  header .header-icons .language-selector .arrow-down {
    position: absolute;
    right: 5px;
    top: 40%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    border-top: none;
    border-right: 2px solid black;
    border-left: none;
    border-bottom: 2px solid black;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }
  header .header-icons .language-selector .language-selector select:hover + .arrow-down,
  header .header-icons .language-selector .language-selector select:focus + .arrow-down {
    -webkit-transform: translateY(-50%) rotate(-135deg);
            transform: translateY(-50%) rotate(-135deg);
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  color: white;
}
@media (min-width: 600px) {
  footer h3 {
    font-size: 2rem;
  }
}
footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
footer .menufooter a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerlegal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  footer .footerlegal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}
footer .copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}
@media (min-width: 600px) {
  footer .copyright {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 24px;
    margin: 0px;
    padding-right: 40px;
  }
}
@media (min-width: 1024px) {
  footer .copyright {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
footer a {
  text-decoration: none;
}
footer a p {
  text-decoration: none;
  color: #8a8180;
}
@media (min-width: 600px) {
  footer a p {
    font-size: 0.875rem;
  }
}
footer p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: white;
}
@media (min-width: 600px) {
  footer p {
    font-size: 0.875rem;
  }
}
footer .legalrights {
  width: 180px;
}
@media (min-width: 600px) {
  footer .legalrights {
    width: 100%;
    text-align: left;
    padding-left: 40px;
  }
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  color: black;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  color: black;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  color: black;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: #942A50;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: black;
}

.hero-image {
  width: 100%;
  min-height: 100vh;
  background-image: url("/src/assets/images/wine-grapes.jpg");
  background-size: 250%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1024px) {
  .hero-image {
    background-size: cover;
    min-height: 100vh;
  }
}
.hero-image h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  color: white;
  margin: 0;
}
@media (min-width: 1024px) {
  .hero-image h1 {
    font-size: 6rem;
  }
}
.hero-image h3 {
  font-family: "Beau Rivage", serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  color: white;
}
.hero-image div:nth-child(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.hero-image div:nth-child(2) {
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-decoration: none;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-image div:nth-child(2) p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: white;
}

.quote {
  padding: 80px 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  gap: 16px;
}
@media (min-width: 600px) {
  .quote {
    padding: 120px 80px;
  }
}
.quote p:first-child {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: black;
}
@media (min-width: 600px) {
  .quote p:first-child {
    max-width: 400px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.quote p:last-child {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: #8a8180;
}
@media (min-width: 600px) {
  .quote p:last-child {
    max-width: 400px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.oftheweek {
  text-align: center;
  padding: 0px 0px;
}
.oftheweek .wine-list {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 30px;
}
.oftheweek .wine-list .wine-item:nth-child(3),
.oftheweek .wine-list .wine-item:nth-child(4) {
  display: none;
}
@media (min-width: 600px) {
  .oftheweek .wine-list {
    padding: 80px 120px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .oftheweek .wine-list .wine-item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .oftheweek .wine-list .wine-item:nth-child(4) {
    display: none;
  }
}
@media (min-width: 1024px) {
  .oftheweek .wine-list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  .oftheweek .wine-list .wine-item:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.oftheweek .wine-list .wine-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 0 10px;
}
.oftheweek .wine-list .wine-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  background-color: #8a8180;
}
.oftheweek .wine-list .wine-item img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.oftheweek .img-quinta {
  overflow: hidden;
}
.oftheweek .img-quinta img {
  width: 100%;
  height: 505px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.explore {
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}
@media (min-width: 1024px) {
  .explore {
    padding: 80px 80px;
  }
  .explore .explore-item {
    gap: 80px;
  }
}
.explore div {
  font-family: Inter, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .explore div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .explore div .explore-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
}
.explore div img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .explore div img {
    height: 400px;
  }
}
.explore div p {
  padding-top: 10px;
  margin: 0px 0;
}
.explore div button {
  margin-top: 20px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 12px 28px;
  background-color: black;
  color: white;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.explore div button:hover {
  background-color: #942A50;
  cursor: pointer;
}

.wine-shop h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: black;
}
@media (min-width: 1024px) {
  .wine-shop h2 {
    font-size: 4rem;
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  .wine-shop p {
    max-width: 500px;
  }
}
.wine-shop img {
  width: 100%;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}
.wine-shop div {
  text-align: center;
  padding: 56px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wine-shop div button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 8px;
  font-family: "Inter", sans-serif, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 12px 28px;
  background-color: black;
  color: white;
  border: none;
}
.wine-shop div button:hover {
  background-color: #942A50;
  cursor: pointer;
}

.store-hero {
  width: auto;
  height: 100%;
  padding: 80px 0px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: #F7F7F7;
}
@media (min-width: 600px) {
  .store-hero {
    padding: 20px 0px 20px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .store-hero {
    padding: 20px 0px 20px 80px;
    height: 500px;
  }
}
.store-hero .hero-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
  margin: 0px;
}
@media (min-width: 600px) {
  .store-hero .hero-title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .store-hero .hero-title {
    width: 40%;
  }
}
.store-hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: black;
}
@media (min-width: 1024px) {
  .store-hero h1 {
    font-size: 4rem;
    padding-top: 75px;
  }
}
.store-hero h4 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: #8a8180;
}
.store-hero div:first-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  height: 400px;
  background-image: url("/src/assets/images/galery-wines.png");
  background-size: cover;
}
@media (min-width: 600px) {
  .store-hero div:first-child {
    overflow-x: visible;
  }
}
.store-hero div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
@media (min-width: 600px) {
  .store-hero div:last-child {
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
}
.store-hero div:last-child h4:first-child {
  color: #8a8180;
}
.store-hero div:last-child h4:last-child {
  color: black;
}

.store-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 42px 20px 33px 20px;
}
@media (min-width: 600px) {
  .store-filters {
    padding: 42px 40px 33px 40px;
  }
}
@media (min-width: 1024px) {
  .store-filters {
    padding: 42px 80px 33px 80px;
  }
}
.store-filters .sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.store-filters .sort-by h4 {
  color: black;
}
.store-filters .sort-by div {
  position: relative;
  display: inline-block;
}
.store-filters .sort-by div span {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: #8a8180;
}
.store-filters .sort-by div button {
  background-color: white;
  color: #8a8180;
  border: 0px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.store-filters .sort-by div button:hover {
  color: black;
}
.store-filters .sort-by div ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: white;
  min-width: 160px;
  border: none;
  padding: 5px 10px;
  margin: 0;
  z-index: 1000;
}
.store-filters .sort-by div ul li {
  list-style: none;
}
.store-filters .sort-by div ul li a {
  display: block;
  padding: 12px 16px;
  color: black;
  text-decoration: none;
  text-align: left;
  font-family: "Inter", sans-serif, sans-serif;
}
.store-filters .sort-by div ul li a:hover {
  color: #8a8180;
}
.store-filters .sort-by div:hover ul {
  display: block;
}
.store-filters .filters button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  border: 0.2px solid black;
  background-color: white;
  padding: 4px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.store-filters .filters button h4 {
  color: black;
  margin: 0;
}
.store-filters .filters button svg {
  width: 14px;
  height: 12px;
  fill: currentColor;
}
.store-filters .filters button:hover {
  background-color: black;
}
.store-filters .filters button:hover h4 {
  color: white;
}
.store-filters .filters button:hover svg {
  fill: white;
}
@media (max-width: "(min-width: 1024px)"-1px) {
  .store-filters .filters {
    display: block;
  }
}
@media (min-width: 1024px) {
  .store-filters .filters {
    display: none;
  }
}

.store {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.store .filters-sidebar {
  display: none;
  right: 0;
}
.store .filters-sidebar .filter-group {
  padding-bottom: 30px;
}
.store .filters-sidebar h5 {
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 130%;
  margin: 0;
  color: black;
}
.store .filters-sidebar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: black;
}
.store .filters-sidebar ul li:first-child {
  color: black;
}
.store .filters-sidebar ul li {
  color: #a5a5a5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.store .filters-sidebar h6 {
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 130%;
  margin: 0;
  color: black;
}
.store .filters-sidebar .price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  /* Linha de fundo (não preenchida) */
  /* Parte azul (preenchida) */
  /* "Truque" para a parte azul (só funciona com WebKit) */
  /* Firefox */
}
.store .filters-sidebar .price-range .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  margin: 0;
  background: transparent; /* necessário para customização */
}
.store .filters-sidebar .price-range .slider::-webkit-slider-runnable-track {
  height: 3px;
  background: #942A50; /* cor da linha não preenchida */
  border-radius: 3px;
}
.store .filters-sidebar .price-range .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #942A50; /* cor do botão */
  margin-top: -2px; /* alinha com a track */
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.store .filters-sidebar .price-range .slider::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, right top, from(#942A50), color-stop(50%, #942A50), color-stop(50%, #C994A7), color-stop(50%, #C994A7));
  background: linear-gradient(to right, #942A50 0%, #942A50 50%, #C994A7 50%, #C994A7 50%);
}
.store .filters-sidebar .price-range .slider::-moz-range-track {
  background: #ccc;
  height: 6px;
  border-radius: 3px;
}
.store .filters-sidebar .price-range .slider::-moz-range-progress {
  background: #942A50;
  height: 6px;
  border-radius: 3px;
}
.store .filters-sidebar .price-range .slider::-moz-range-thumb {
  background: #942A50;
  border: none;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
.store .filters-sidebar .price-range div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: #a5a5a5;
}
.store .filters-sidebar .filter-group:nth-child(3) li {
  color: #a5a5a5;
}
.store .filters-sidebar .filter-group:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.store .filters-sidebar .filter-group:nth-child(4) div span {
  color: #942A50;
  font-size: 1rem;
}
@media (min-width: 600px) {
  .store .filters-sidebar {
    display: none;
    right: 0;
  }
}
@media (min-width: 1024px) {
  .store {
    padding: 0px 80px 80px 80px;
  }
  .store .filters-sidebar {
    display: block;
    right: 0;
  }
}

.store-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0px 20px 80px 20px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 600px) {
  .store-list {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 40px 80px 40px;
  }
}
.store-list .wine-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.store-list .wine-card .wine-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.store-list .wine-card .wine-item img {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 90%;
  height: auto;
  max-height: 270px;
  display: block;
}
.store-list .wine-card .wine-item > div:last-child {
  -ms-grid-column: 3;
  grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
  gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.store-list .wine-card .wine-item > div:last-child p {
  color: currentColor;
}
.store-list .wine-card .wine-item > div:last-child div {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: currentColor;
}
.store-list .wine-card .wine-text {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.store-list .wine-card .wine-text h4 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: black;
}
.store-list .wine-card .wine-text h4:first-child {
  color: black;
}
.store-list .wine-card .wine-text h4:last-child {
  color: #8a8180;
}
.store-list .wine-card--port {
  color: #4B0082;
}
.store-list .wine-card--red {
  color: #990000;
}
.store-list .wine-card--white {
  color: #DAA520;
}
.store-list .wine-card--rose {
  color: #FF3366;
}
.store-list .wine-card--sparkling {
  color: #008080;
}

.contact-hero {
  width: 100%;
  min-height: 365px;
  background-image: url("/src/assets/images/contact-quinta-img.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.contact-hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 20px;
}
@media (min-width: 600px) {
  .contact-hero h1 {
    font-size: 2.5rem;
    left: 40px;
  }
}
@media (min-width: 1024px) {
  .contact-hero h1 {
    font-size: 4rem;
    left: 80px;
  }
}

@media (min-width: 1024px) {
  .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-section .contact-section-img {
    width: 50%;
    height: 500px;
    background-image: url("/src/assets/images/winecellar.png");
    background-size: cover;
    background-position: center;
  }
  .contact-section .contact-header {
    width: 70%;
    height: auto;
  }
}
.contact-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px;
  gap: 32px;
}
@media (min-width: 600px) {
  .contact-header {
    padding: 40px 40px;
  }
}
@media (min-width: 1024px) {
  .contact-header {
    padding: 80px 80px 40px 80px;
  }
}
.contact-header .contact-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}
.contact-header .contact-header-title h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  color: black;
  margin: 0;
}
.contact-header p {
  margin: 0;
  max-width: 600px;
}
@media (min-width: 1024px) {
  .contact-header p {
    font-size: 1rem;
  }
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 0px 20px 80px 20px;
}
@media (min-width: 600px) {
  .contact-info {
    padding: 0px 40px 80px 40px;
  }
}
@media (min-width: 1024px) {
  .contact-info {
    padding: 0px 80px 80px 80px;
  }
}
.contact-info .contact-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.contact-info .contact-info-item p {
  margin: 0;
}
@media (min-width: 600px) {
  .contact-info .contact-info-item p {
    font-size: 1rem;
  }
}
.contact-info .contact-info-item .contact-info .contact-info-item:nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact-info .contact-info-item .address-text {
  gap: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-info .contact-info-item .address-text :nth-child(2) {
  color: #8a8180;
  width: 150px;
}

.contact-form-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding: 64px 20px;
  background-color: #F7F7F7;
}
@media (min-width: 600px) {
  .contact-form-container {
    padding: 80px 80px;
  }
}
@media (min-width: 1024px) {
  .contact-form-container {
    padding: 80px 300px;
  }
}
.contact-form-container .contact-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.contact-form-container .contact-form-header h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  color: black;
}
.contact-form-container .contact-form-header p {
  color: #8a8180;
}
@media (min-width: 600px) {
  .contact-form-container .contact-form-header p {
    font-size: 1rem;
  }
}
.contact-form-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.contact-form-container .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 600px) {
  .contact-form-container .contact-form form {
    gap: 8px;
  }
}
.contact-form-container .contact-form form input, .contact-form-container .contact-form form textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #dddddd;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: #a5a5a5;
}
.contact-form-container .contact-form form input:focus, .contact-form-container .contact-form form textarea:focus {
  border-color: #942A50;
  outline: none;
}
@media (min-width: 600px) {
  .contact-form-container .contact-form form input, .contact-form-container .contact-form form textarea {
    font-size: 1rem;
    padding: 16px;
  }
}
.contact-form-container .contact-form form input, .contact-form-container .contact-form form textarea {
  margin-bottom: 15px;
}
.contact-form-container .contact-form form label {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: black;
}
.contact-form-container .contact-form form button {
  background-color: black;
  text-transform: uppercase;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  color: white;
}
@media (min-width: 600px) {
  .contact-form-container .contact-form form button {
    padding: 16px 24px;
  }
}
.contact-form-container .contact-form form button:hover {
  background-color: #942A50;
}